<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div>
        <h2>List of all the Students</h2>
        <hr/>
        <a th:href="@{/showSaveForm}" class="btn btn-primary mb-2">Add New Student</a>
      <table class="table table-striped table-dark">
        <thead>
            <tr>
              <td>Name</td>
              <td>Surname</td>
              <td>Age</td>
              <td>Email</td>
              <td>Phone</td>
              <td>Birthdate</td>
              <td>Password</td>
              <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student: ${students}">
              <td th:text="${student.name}"></td>
              <td th:text="${student.surname}"></td>
              <td th:text="${student.age}"></td>
              <td th:text="${student.email}"></td>
              <td th:text="${student.phone}"></td>
              <td th:text="${student.birthdate}"></td>
              <td th:text="${student.password}"></td>
                <td>
                    <a class="btn btn-info" th:href="@{/showUpdateForm(id=${student.id})}">Update</a>
                    <a class="btn btn-danger" th:href="@{/deleteStudent(id=${student.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
</body>
</html>